/* helper classes */
.padding-xs { content: "&nbsp;"; color: rgba(0, 0, 0, 0); height: 10px; width: 100%; clear: both; }
.padding,
.padding-sm { content: "&nbsp;"; color: rgba(0, 0, 0, 0); height: 20px; width: 100%; clear: both; }
.padding-md { content: "&nbsp;"; color: rgba(0, 0, 0, 0); height: 40px; width: 100%; clear: both; }
.padding-lg { content: "&nbsp;"; color: rgba(0, 0, 0, 0); height: 80px; width: 100%; clear: both; }
.pad-left { padding-left: 40px; }
.pad-right { padding-right: 40px; }
.pad-top { padding-top: 20px; }
.pad-bottom { padding-bottom: 20px; }
.half-pad-right { padding-right: 20px; }
.half-pad-left { padding-left: 20px; }
.half-pad-top { padding-top: 10px; }
.half-pad-bottom { padding-bottom: 10px; }
.no-pad-top { padding-top: 0 !important; }
.no-pad-bottom { padding-bottom: 0 !important; }
.no-pad-right { padding-right: 0 !important; }
.no-pad-left { padding-left: 0 !important; }
.mar-left { margin-left: 40px; }
.mar-right { margin-right: 40px; }
.mar-top { margin-top: 20px; }
.mar-bottom { margin-bottom: 20px; }
.half-mar-right { margin-right: 20px; }
.half-mar-left { margin-left: 20px; }
.half-mar-top { margin-top: 10px; }
.half-mar-bottom { margin-bottom: 10px; }
.no-mar-top { margin-top: 0 !important; }
.no-mar-bottom { margin-bottom: 0 !important; }
.no-mar-right { margin-right: 0 !important; }
.no-mar-left { margin-left: 0 !important; }
.centered,
.center { text-align: center; margin-left: auto; margin-right: auto; }
.transition-01s { transition: all .1s ease; }
.transition-02s { transition: all .2s ease; }
.transition-03s { transition: all .3s ease; }

/* end helper classes */

/* mobile Helper Classes */
.text-left-not-xs,
.text-left-not-sm,
.text-left-not-md,
.text-left-not-lg { text-align: left; }
.text-center-not-xs,
.text-center-not-sm,
.text-center-not-md,
.text-center-not-lg { text-align: center; }
.text-right-not-xs,
.text-right-not-sm,
.text-right-not-md,
.text-right-not-lg { text-align: right; }
.text-justify-not-xs,
.text-justify-not-sm,
.text-justify-not-md,
.text-justify-not-lg { text-align: justify; }
@media (max-width:767px) {
	.text-left-not-xs,
	.text-center-not-xs,
	.text-right-not-xs,
	.text-justify-not-xs { text-align: inherit; }
	.text-left-xs { text-align: left; }
	.text-center-xs { text-align: center; }
	.text-right-xs { text-align: right; }
	.text-justify-xs { text-align: justify; }
}
@media (min-width:768px) and (max-width:991px) {
	.text-left-not-sm,
	.text-center-not-sm,
	.text-right-not-sm,
	.text-justify-not-sm { text-align: inherit; }
	.text-left-sm { text-align: left; }
	.text-center-sm { text-align: center; }
	.text-right-sm { text-align: right; }
	.text-justify-sm { text-align: justify; }
}
@media (min-width:992px) and (max-width:1199px) {
	.text-left-not-md,
	.text-center-not-md,
	.text-right-not-md,
	.text-justify-not-md { text-align: inherit; }
	.text-left-md { text-align: left; }
	.text-center-md { text-align: center; }
	.text-right-md { text-align: right; }
	.text-justify-md { text-align: justify; }
}
@media (min-width:1200px) {
	.text-left-not-lg,
	.text-center-not-lg,
	.text-right-not-lg,
	.text-justify-not-lg { text-align: inherit; }
	.text-left-lg { text-align: left; }
	.text-center-lg { text-align: center; }
	.text-right-lg { text-align: right; }
	.text-justify-lg { text-align: justify; }
}
@media only screen and (max-width:992px) {
	.center-mobile { text-align: center !important; margin-right: auto !important; margin-left: auto !important; }
}

/* end mobile Helper Classes */

/* social network buttons */
.menu-social { list-style: none; padding-left: 0px; }
.menu-social li a:before { display: inline-block; width: 40px; height: 40px; margin-right: 20px; vertical-align: top; font-family: 'Fontawesome'; font-size: 2.1em; -webkit-font-smoothing: antialiased; content: '\f0c0'; float: right; }
.menu-social li:hover a:before { color: #000; }
.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }
.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }
.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }
.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.menu-social li a[href*="github.com"]::before { content: '\f09b'; }
.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }
.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }
.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }
.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }
.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }
.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }
.menu-social li a[href*="snapchat.com"]::before { content: '\f2ac'; }

/*site styling*/

/*elements*/
h1,
h2,
h3,
h4,
h5,
h6 { text-transform: uppercase; }

/*general styles*/
.heavy { font-weight: 600; }
.heavy sup { font-size: 0.6em; line-height: 1.9em; font-weight: 100; }
.light { font-weight: 100; }
.border-line { border: 1px solid #e3e3e3; }
.dark,
.dark h2 { background-color: #000; color: #fff; }
.serif { font-family: "Chronicle Display A", "Times New Roman", Times, serif; font-style: oblique; font-weight: 600; }

/*buttons*/
.btn { text-transform: uppercase; border-width: 2px; }
.btn-default:hover,
.btn-default:focus,
.btn-default:active { background-color: #000; color: #fff; transition: all .2s ease; }

/*mobile nav*/
html,
body { overflow-x: hidden; }
.learn-more { background-color: rgb(86, 86, 90); text-align: center; padding-top: 10px; padding-bottom: 10px; }
#navbar-side-mobile .nav>li { display: inline-block; }
div.panel-heading a.collapsed .fa-chevron-down:before { transform: rotate(90deg); }
@media only screen and (max-width:766px) {
.search-bar { position: fixed; left: 0; top: 6px; width: 100%; background: #fff; padding: 12px; }
}

/* Nav icon positioning */
.position { position: absolute; top: 8px; left: 0px; transition: all .3s ease; z-index: 2; }
@media screen and (min-width:900px) {
.position { position: fixed; }
}

/* Elijah Manor Nav button */
#nav-toggle { cursor: pointer; padding: 18px 55px 24px 19px; }
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after { cursor: pointer; height: 5px; width: 35px; background: #343434; position: absolute; display: block; content: ''; }
#nav-toggle span:before { top: -10px; }
#nav-toggle span:after { bottom: -10px; }
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after { transition: all 200ms ease-in-out; }
#nav-toggle.active { background-color: rgb(86, 86, 90); }
#nav-toggle.active span { background-color: transparent; }
#nav-toggle.active span:before,
#nav-toggle.active span:after { top: 0; }
#nav-toggle.active span:before { transform: rotate(45deg); }
#nav-toggle.active span:after { transform: rotate(-45deg); }

/* Off Canvas Navigation */
main { width: 100%; position: absolute; left: 0; transition: .3s ease all; }
aside { width: 250px; height: 100%; position: fixed; top: 0; left: -250px; background: #fff; border-right: 2px solid #000; transition: all .3s ease; z-index: 9999; padding: 10px; }

/* JavaScript toggle */
.show-nav aside,
.show-nav main { transform: translateX(250px); }
.show-nav .position { position: fixed; }
.show-nav article { padding: 0 80px; }

/*desktop header*/
.top-bar { background-color: rgb(86, 86, 90); color: white; min-height: 30px; padding-top: 5px; text-transform: uppercase; }
.top-bar a { color: white; }
header nav { text-transform: uppercase; }

/*footer*/
footer small { text-transform: none; }

/*image overlays*/
.overlay { position: absolute; top: 0px; width: 100%; }
@media only screen and (max-width:766px) {
.overlay { position: relative; }
}

/*home page*/
.product-grid { min-height: 467px; }
@media only screen and (max-width:766px) {
.product-grid { min-height: 0px; }
}