@import "variables.less";
@import "mixins.less";

// Global Components
html, body { height: 100%; width: 100%; }
body { .serif-font; color: #444 }
hr { border-color: @theme-3; border-width: 3px; max-width: 50px; }
hr.light { border-color: white; }

h1, h2, h3, h4, h5, h6 {.sans-serif-font;}
h3 {margin-bottom: 4em;}
p { font-size: 16px; line-height: 1.5; margin-bottom: 20px; }
a, a:visited {
	.transition-all; color: #000;
	&:hover, &:focus { color: darken(@theme-2, 15%); }
}
section { padding: 100px 0; }

aside { padding: 50px 0; }

.bg-primary { background-color: @theme-0; }
.bg-dark { background-color: @theme-5; color: white; }
.bg-gray { background-color: @theme-4; }

.text-faded { color: fade(white, 75%); }
.text-vertical-center {display: table-cell; text-align: center; vertical-align: middle;}


.no-padding { padding: 0; }

// Navigation
.navbar-default {
	background-color: white;
	border-color: fade(@gray-darker, 5%);
	.sans-serif-font;
	.transition-all;
	.navbar-header .navbar-brand {
		color: @theme-0;
		.sans-serif-font;
		font-weight: 700;
		text-transform: uppercase;
		&:hover,
		&:focus {
			color: darken(@theme-0, 10%);
		}
	}
	.navbar-header .navbar-toggle {
		font-weight: 700;
		font-size: 12px;
		color: @gray-darker;
		text-transform: uppercase;
	}
	.nav {
		> li {
			> a,
			> a:focus {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 13px;
				color: @gray-darker;
				&:hover {
					color: @theme-0;
				}
			}
			&.active {
				> a,
				> a:focus {
					color: @theme-0 !important;
					background-color: transparent;
					&:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
	@media (min-width: 768px) {
		background-color: transparent;
		border-color: fade(white, 30%);
		.navbar-header .navbar-brand {
			color: fade(black, 70%);
			&:hover,
			&:focus {
				color: black;
			}
		}
		.nav > li > a,
		.nav > li > a:focus {
			color: fade(black, 70%);
			&:hover {
				color: black;
			}
		}
		&.affix {
			background-color: white;
			border-color: fade(@gray-darker, 5%);
			.navbar-header .navbar-brand {
				color: @theme-1;
				font-size: 14px;
				&:hover,
				&:focus {
					color: darken(@theme-1, 10%);
				}
			}
			.nav > li > a,
			.nav > li > a:focus {
				color: @gray-darker;
				&:hover {
					color: @theme-1;
				}
			}
		}
	}
}

// Homepage Header
header {
	width: 100%;
	z-index: 1;
	position: relative;
	min-height: auto;
	.background-cover;
	background-position: center;
	background-attachment: fixed;
	background-image: url('../img/header-2.jpg');
	text-align: center;
	.header-content {
		position: relative;
		text-align: center;
		padding: 100px 15px 100px;
		width: 100%;
		z-index: 5;
		.header-content-inner {
			object {width: 80%; height: auto; margin: 0 auto 2em; display: block;}
			h1 {
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 0;
				font-size: 30px;
				color: @gray-darker;
			}
			hr {
				margin: 30px auto;
			}
			p {
				font-weight: 300;
				font-size: 16px;
				margin-bottom: 50px;
			}
		}
	}
	@media (min-width: 768px) {
		min-height: 100%;
		.header-content {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			padding: 0 50px;
			.header-content-inner {
				max-width: 1000px;
				margin-left: auto;
				margin-right: auto;
				object {width: 65%; margin-bottom: 4em;}
				h1 {
					font-size: 46px;
				}
				p {
					font-size: 18px;
					max-width: 80%;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}
header:before {
    width: 100%; height: 100%; content: ' '; display: block;
    position: absolute; top: 0;
    background: rgba(255,255,255,0.5);
    z-index: 2;
}

// Sections
.section-heading { margin-top: 0; }


// Brands Section
#brands {
    h3 { margin-bottom: 2em; }
    a, a:visited {
        width: 98%; margin: 0 auto 2em; padding: 1em; display: block;
        overflow: hidden; cursor: pointer; border: 2px solid #ddd;
        .service {
            padding-top: 10px; background-color: #eee; -webkit-box-shadow: rgba(0,0,0,0.3) 0px 0px 3px 2px inset;
            -moz-box-shadow: rgba(0,0,0,0.3) 0px 0px 3px 2px inset;
            box-shadowr: rgba(0,0,0,0.3) 0px 0px 3px 2px inset;
            h5 {
                width: 90%; height: 60px; margin: 0 auto; color: #555; display: block; .transition-all;
                &.icon-logo_pur-complexion { font-size: 3.8em; padding-top: 0.08em; }
                &.icon-logo_cosmedix { font-size: 1.65em; padding-top: 0.8em; }
                &.icon-logo_aloette { font-size: 2.7em; padding-top: 0.3em; }
            }
            p { width: 90%; margin: 2em auto; .sans-serif-font; font-size: 13px; color: #6c6c6c; }
            object { width: 95%; height: 80px; padding: 0 2.5%; margin: 0 auto 2em; display: block; }
            button { margin-left: 5%; margin-bottom: 2em; color: #222; background-color: #ccc; }
        }
        &:hover {
            text-decoration: none; border-color: @theme-2;
            .service {
                .transition-all; background-color: #ead49e;
                h5 { color: #222; }
                p {  color: #222; }
                button { color: #fff; background-color: #222; }
            }
        }
    }
}
@media (min-width: 62em){
    #brands {
        a, a:visited {
            width: 100%; margin: 0 auto;
            .service {
                h5 {
                    &.icon-logo_pur-complexion { font-size: 4.65em; }
                    &.icon-logo_cosmedix { font-size: 2em; }
                    &.icon-logo_aloette { font-size: 3.3em; }
                }
            }
        }
    }
}

// Careers Section
#careers {
    display: block; overflow: hidden;
    .feature {
        width: 100%; height: 120px; margin-bottom: 4px; border: 1px solid #444;
        display: block; position: relative; overflow: hidden; cursor: pointer;
        button {
            width: 100%; margin: 2em auto 0; padding: 8px 15px; font-weight: 600; color: #fff; display: block;
        	background-color: #444; position: absolute; bottom: 0; left: 0; border-radius: 0;
        }
        &:hover button { color: #222; background-color: #fff; }
        &:hover:before {
            width: 100%; height: 100%; background: rgba(231,182,59,0.4); content: ' ';
            position: absolute; top: 0; left: 0; display: block;
        }
        &.b1 { background: url('../img/careers_pur.jpg') center center no-repeat; }
        &.b2 { background: url('../img/careers_cosmedix.jpg') center center no-repeat; }
        &.b3 { background: url('../img/careers_aloette.jpg') center center no-repeat; }
        &.b1, &.b2, &.b3 {
            -webkit-background-size: cover; -moz-background-size: cover;
            -o-background-size: cover; background-size: cover;
        }
    }
}

// Press Section
.section-news {
    .sans-serif-font; letter-spacing: 0.04em; background-color: #eee;
    article { max-width: 70%; padding: 1em; }
    span { .serif-font; font-style: italic; }
    h5 { margin-bottom: 1em; font-size: 1.3em; line-height: 1.65em; }
    a, a:visited {
        cursor: pointer; display: block; overflow: hidden;
        &:hover {
            text-decoration: none;
            button { color: #fff; background-color: #000; }
            h5 { color: @theme-2; }
        }
    }
    
    .center-block { margin-left: auto; margin-right: auto; display: block; }
    .bg-inverse {
        color: #eee; background-color: #333;
        a, a:focus, a:hover { color: #fff; }
    }
    .has-light-mask {
        position: relative; z-index: 1;
        &:after {
            width: 100%; height: 100%; content: ' '; position: absolute;
            top: 0; right: 0; z-index: 1; background-color: #c3c7cb;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
            opacity: 0.6;
        }
        &:hover:after { opacity: 0; }
    }
    .image-effect {
        overflow: hidden;
        img {
            -webkit-transform: scale3d(1.8, 1.8, 1);
            transform: scale3d(1.8, 1.8, 1);
            -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
            transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
        }
        &:hover img { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
    }
    .label {
        padding: 0.5em 1em; margin-bottom: .5rem; font-size: 1.3rem; text-transform: uppercase;
        font-weight: 600; line-height: 1.1538; border-radius: 2.5rem; border-width: 0;
    }
    .label-info { color: #444; background-color: #ddd; }
    .p-r-0 { padding-right: 0 !important; }
    .p-l-0 { padding-left: 0 !important; }
}

@media (min-width: 62em) { .section-news article { padding: 4rem 0; } }
@media (min-width: 75em) { .section-news article { padding: 6em 0; } }

// Footer
footer {
    width: 95%; margin: 2em auto 3em; letter-spacing: 0.02em; .sans-serif-font;
    line-height: 1.6em; text-align: center; display: block;
}

.service-box {
	max-width: 400px;
	margin: 50px auto 0;
	@media (min-width: 992px) {
		margin: 20px auto 0;
	}
	p { margin-bottom: 0; }
}

// Portfolio Section
#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade(@theme-1, 90%);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                .serif-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    * { z-index: 2; }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

// Timeline
.timeline {
    list-style: none; padding: 0; position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: #d1d1d1;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after { content: " "; display: table; }
        &:after { clear: both; }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 100;
            background-color: #e7b63b;
            color: white;
            border-radius: 100%;
            border: 7px solid #d1d1d1;
            text-align: center;
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
            }
        }
        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: inherit;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        > p,
        > ul {
            margin-bottom: 0;
        }
    }
}

@media(min-width:768px) {
    .timeline {
        &:before {
            left: 50%;
        }
        > li {
            margin-bottom: 100px;
            min-height: 100px;
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            .timeline-image {
                width: 100px;
                height: 100px;
                left: 50%;
                margin-left: -50px;
                h4 {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                float: right;
                text-align: left;
                padding: 0 30px 20px 20px;
            }
        }
    }
}
@media(min-width:992px) {
    .timeline {
        > li {
            min-height: 150px;
            .timeline-panel {
                padding: 0 20px 20px;
            }
            .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
                h4 {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }
    }
}
@media(min-width:1200px) {
    .timeline {
        > li {
            min-height: 170px;
            .timeline-panel {
                padding: 0 20px 20px 100px;
            }
            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
                h4 {
                    margin-top: 40px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    }
}

// Leaders
#leaders {margin: 0; padding: 0;}

a, a:visited { .glyphicon { color: rgba(255,255,255,0.8); } }
a:hover { .glyphicon { color: rgba(255,255,255,1); } }

.carousel-inner {
    background: url('../img/bg_bio.jpg') center center no-repeat; display: table;
    .carousel-caption {
        width: 98%; height: auto; padding: 0 10% 0 0; color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,.6);
        position: absolute; top: 15%; left: 0; bottom: 0; z-index: 10; vertical-align: middle; text-align: center;
        
        h1 {font-size: 21px;}
        h4 {font-size: 14px; margin-bottom: 1em;}
    }
}
.carousel-control {z-index: 20;}

@media(min-width:768px) {
    .carousel-inner {
        .carousel-caption {
            width: 85%; padding: 0 20% 0 13%; top: 25%;
            h1 {font-size: 36px;}
            h4 {font-size: 18px; margin-bottom: 2em;}
        }
    }
}


// Clients Aside
aside.clients {
    img { margin: 1em auto; }
}

.call-to-action {
	h2 {margin: 0 auto 20px; }
}

// Bootstrap Overrides
.text-primary { color: @theme-0; }
.no-gutter > [class*='col-'] { padding-right: 0; padding-left: 0; }

// Button Styles
.btn-default { .button-variant(@gray-darker;white;white); border: none; }
.btn-primary { .button-variant(white;@theme-0;@theme-2); }

.btn {
	.sans-serif-font;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-xl { padding: 15px 30px; }

// Extras
// -- Highlight Color Customization
::-moz-selection { color: white; text-shadow: none; background: @gray-darker; }
::selection { color: white; text-shadow: none; background: @gray-darker; }

img::-moz-selection { color: white; background: transparent; }
img::selection { color: white; background: transparent; }

body { webkit-tap-highlight-color: @gray-darker; }
