
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /new-aloette/Kdzine.github.io/_wordpress-template/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /new-aloette/Kdzine.github.io/_wordpress-template/wordpress/index.php [L]
</IfModule>

# END WordPress